html,body{
	box-sizing: border-box;
	font-family: nimbus-sans-extended,sans-serif;
	font-weight: 700;
	font-style: normal;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

#infos{
	display: flex;
	justify-content: space-between;
	width: auto;
}

#lienabout{
	padding-right:20px; 
}

nav{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

a{
	text-decoration:none;
	color: black;
}

header{
	height: 100vh;
}

#pres{
	text-align: center;
	margin-top: 35vh;
}

header h1{
	margin: 0px;
	font-size: 3.3em;
	letter-spacing: 3px;
}

header p{
	margin: 0px;
}

h4{
	font-family: nimbus-sans-extended,sans-serif;
	font-weight: 300;
	font-style: normal;
	margin: 0px;
}

h1{
	font-size: 2em;
	letter-spacing: 2px;
}

#about{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 40px ;
}

#texteabout{
	width: 40%;
	display: flex;
	flex-direction: column;
}

#works{
	background-image: url("img/fondspace.png");
	background-size: 100vw;
	margin: 0px;
}

@keyframes rotating{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.rotate{
  animation: rotating 50s linear infinite;
}

.rotate2{
  animation: rotating 5s linear infinite;
}

.ceinture{
	width: 50vw;
	position: absolute;
	margin: auto;
}

.planete{
	width: 30vw;
	height: auto;
}

.projet{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150vh;
}

.projet a{
	display: flex;
	align-items: center;
	justify-content: center;
}

#iconDL{
	width: 1vw;
	margin-left: 1vw;
}

.boiteplanete{
	display: flex;
	align-items: center;
	justify-content: center;
}

.rocket{
	position: absolute;
	width:25vw;
}

p{
	font-size: 1.2em;
	margin-left: 20px;
}

#texteabout img{
	width: 50%;
	margin:20px auto ;
}

#clemflat{
	width: 30%;
}

#competences{
	margin: 100px auto;
	display: flex;
	justify-content: space-around;
	width: 60vw;
}

#competences img{
	width: 30%;
}

#contact{
	text-align: center;
	padding: 50px;
}

a:hover{
	color: #990A2F;
}

.head{
	height: 30vh;
}

.head h1{
	margin: 0px;
	font-size: 3.3em;
	letter-spacing: 0.01px;
}

.present{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contentproject{
	padding: 100px;
	background-image: url("img/fondspacedarker.png");
	background-size: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.intro{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.intro img{
	border-radius: 10px;
	width: 45%;
}

.textintro{
	width: 30vw;
	font-size:1.1em;
}

.banner{
	width: 100%;
	border-radius: 10px;
	margin: 100px;
}

#explic{
	display: flex;
	justify-content: center;
}

#imgexplic img{
	width: 25vw;
	border-radius: 10px;
}

#imgexplic{
	width: 40%;
	margin-left: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#textexplic{
	width: 30vw;
}










@media screen and (max-width: 680px) {

	header h1{
		font-size: 1.4em;
	}

	header h4{
		font-size:0.5em;
	}

	header a{
		font-size: 0.8em;
	}

  .planete{
		width: 60vw;
	}

	.ceinture{
		width: 90vw;
	}

	#clemflat{
		width: 70%;
	}

	#texteabout{
		width: 85%;
		padding-top: 50px;
	}

	#texteabout h1, #contact h1{
		font-size: 1.3em;
	}

	#texteabout p{
		font-size: 0.8em;
	}

	#about{
		flex-direction: column-reverse;
		justify-content: normal;
	}

	#works{
	background-image: url("img/fondspacemobile.png");
	background-size: 100vw;
	margin: 0px;
	}

	#competences{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#competences img{
		width: 90%;
		margin: 30px 0px ;
	}

	#iconDL{
		width: 4vw;
	}




	.head{
		height: 20vh;
	}

	.head h1{
		font-size: 1.8em;
	}

	.head h4{
		font-size: 0.8em;
	}

	.intro{
		font-size: 0.7em;
	}

	.textintro{
		width: 50vw;
	}

	.intro img{
		width: 35vw;
	}

	.contentproject{
		padding: 50px;
	}

	.contentproject h1{
		font-size: 1.2em;
	}

	.contentproject p{
		font-size: 0.6em;
	}

	#explic{
		flex-direction: column-reverse;
	}

	#imgexplic{
		margin: 0px;
		width: 100%;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	#explic img{
		width: 35vw;
		margin: 10px;
	}

	#textexplic{
		width: 85vw;
	}

	.banner{
	width: 90vw;
	margin: 60px 0;
	}

}







